[package]
name = "peroxide-cryptsetup"
version = "0.1.1"
authors = ["Vladimir Lushnikov <vladimir@solidninja.is>"]
license = "GPL-3.0"
description = "Command-line utility for managing LUKS encrypted volumes using 2FA methods (for example Yubikeys)"
repository = "https://github.com/solidninja/peroxide-cryptsetup"
homepage = "https://github.com/solidninja/peroxide-cryptsetup"
readme = "README.md"
keywords = ["cli", "cryptsetup", "luks"]

[features]
default = ["yubikey", "yubikey_hybrid"]
yubikey = ["ykpers-rs"]
yubikey_hybrid = ["yubikey", "sodiumoxide"]

[dependencies]
docopt = "0.6"
rustc-serialize = "0.3"
serde = "0.9"
serde_derive = "0.9"
serde_json = "0.9"
uuid = { version = "0.4", features = ["serde", "v4"] }
errno = "0.2"
sodiumoxide = { version = "0.0", optional = true }

# TODO - decide on what logger to use :)
log = "0.3"
env_logger = "0.3"
termios = "0.2"
libc = "0.2"

cryptsetup-rs = { version = "0.1.1", path = "lib/cryptsetup-rs" }
ykpers-rs = { version = "0.1.0", path = "lib/ykpers-rs", optional = true }

[dev-dependencies]
tempfile = "2"
tempdir = "0.3"
env_logger = "0.3"
expectest = "0.6"

[lib]
name = "peroxide_cryptsetup"
path = "src/lib/lib.rs"

[[bin]]
name = "peroxs"
test = false
doc = false

[[test]]
name = "tests"

[profile.dev]
codegen-units = 4

[profile.test]
codegen-units = 4
